## 任务描述
我将会给一个接口的定义，以及一组测试用例，你的任务是将测试用例的信息用自然语言的方式表述出来。
- 接口定义中包含了接口的输入输出参数信息，以及每个参数代表什么含义，接口的输出为一个pandas的DataFrame。
- 每个测试用例包含两部分信息：
    - id：测试用例的编号。
    - input_params：输入参数的取值，一个字典。
    - expected_columns：期望输出的DataFrame的列名，一个列表。
### 输出要求
你的输出应该是一个json列表，列表中的每一项是是一个测试用例的自然语言描述。包含两个字段：
- id：测试用例的编号。
- description：测试用例的自然语言描述。

## 数据样例
例如对于下面这个测试用例：
```
{
    "id": 0,
    "input_params": {
        "code": "sh.605157",
        "fields": "isST",
        "start_date": "2015-01-01",
        "end_date": "2023-01-01",
        "frequency": "m",
        "adjustflag": "2"
    },
    "expected_columns": [
        "isST"
    ]
}
```
你要转换成如下形式：
```
{
    "id": 0,
    "description": "请描述股票代码为sh.605157的股票从2015-01-01到2023-01-01的月度K线信息，K线信息只需要包含是否为ST股。"
}
```


以下是接口的信息：
```
{{ func_desc }}
```


以下是测试用例：
```
{{ test_cases }}
```



请按照要求给出测试用例的自然语言描述。

