## 任务描述
我会给你提供一份接口功能描述文档，里面包函数接口的功能描述以及输入输出参数的说明。
你需要根据这份文档采用自然语言描述的方式提出一些需求，这些需求可以通过调用这个函数来实现。
需求可以尽量要多样化，主要体现在输入和输出参数的不同组合上。
尤其对于输出，每个函数支持的输出列，都应该至少有一个需求来描述。
比如：”请描述股票代码为sh.605324的股票从2018-12-03到2023-01-03的月度K线信息，K线信息需要包含前收盘价和日期，并且数据为后复权处理。“
需要注意的是，你的需求必须是明确的，要包含完整的入参和出参相关信息。


## 输出格式
你的输出是一个json格式的列表，列表中的每一项需要包含一下字段：
- id: 需求的编号，从1开始
- content: 需求的具体描述
- function: 完成需求需要调用的函数名称列表，列表中的每一项是一个函数名称


以下为函数接口的功能描述：
```
{{ function_description }}
```


请你按照要求输出需求描述，至少20条不重复的需求。
